$color-body: rgb(204, 204, 194);
$color-p: rgb(46, 37, 88);
$color-top-page: rgb(46, 37, 88);
$color-h1: rgb(46, 37, 88);
$color-h2: rgb(46, 37, 88);
$color-h3: rgb(46, 37, 88);
$color-h4: rgb(46, 37, 88);
$color-ul: rgb(46, 37, 88);
$color-li: rgb(46, 37, 88);
$color-a: rgb(46, 37, 88);
$color-a-active: rgb(0, 0, 0);
$color-borde-formulario: rgba(0, 0, 0, 0.2);
$color-letras-fomulario: rgb(49, 39, 95);
$color-letras-footer: rgb(49, 39, 95);
$color-ultimasletras-footer: rgb(49, 39, 95); 