$font-family-p: 'Rubik', sans-serif;
$font-family-ul: 'Rubik', sans-serif;
$font-family-h1: 'Rubik', sans-serif;
$font-family-h2: 'Rubik', sans-serif;
$font-family-h3: 'Rubik', sans-serif;
$font-family-h4: 'Rubik', sans-serif;
$font-family-boton-ver: 'Rubik', sans-serif; 
$font-family-formulario: 'Rubik', sans-serif;