@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import "colors";
@import "font-family";



p {
    font-family: $font-family-p;
    color: $color-p;
}
a {
    text-decoration: none;
    color: $color-a;
}
body {
    background-color: $color-body;    
    margin: 3px auto 10px auto;
    color: $color-body;
}
.top-page {
    display: flex;
    justify-content: space-between;
    margin: 7px 5px 5px 10px;
    color: $color-top-page;

    a:active {
        color: $color-a-active;
    }

    ul {
        list-style-type: none;       
        font-family: $font-family-ul; 
        justify-content: center;
        color: $color-ul;     
    }
      
    li {
        display: inline;
        color: $color-li;
    }
    .logo{
    height: 20px;
    }
}
.imagen-fondo{       
    bottom: 70px; 
    width: 100%;   
}
h1 {
    font-family: $font-family-h1;
    color: $color-h1;
    text-align: center;
}
h2 {
    font-family: $font-family-h2;
    color: $color-h2;
    text-align: center;
    margin: 40px 0px 40px 0px;
}
h3 {
    font-family: $font-family-h3;
    color: $color-h3;
    text-align: center;
}
h4 {
    font-family: $font-family-h4;
    color: $color-h4;
    text-align: center;
}
.container-news-index{   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px;
    column-gap: 50px;
    row-gap: 20px; 
    
    .news-index {
    display:flex;
    flex-direction: column;
    align-items: center;
    }
    .imagen-news-index{
    width: 200px;
    height: 200px;
    }
}
.imagenes-photos-index {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px;
    column-gap: 50px;
    row-gap: 20px;
    justify-items: center;   
}
.boton-ver {
    margin-top: 10px;
    font-family: $font-family-boton-ver;
    text-align:center;   
}
.news{
    grid-template-columns: 1fr;
    row-gap: 20px;
    padding: 20px;
    text-align: center;
}
.imagen-photos{
    display: grid;
    grid-template-columns: auto auto;
    padding: 50px;
    column-gap: 10px;
    row-gap: 15px;
    justify-items: center;
}
.imagen-biography{
    width: 100%;
    height: 324px;
    margin:50px 0px 50px 0px; 
}
.texto-biography{
    margin: 10px;
}
.tarjeta-completa{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

    .borde {   
    padding: 55px 40px;
    box-shadow: 0 0 20px $color-borde-formulario;
    border-radius: 20px;
    justify-content: center;
    width: 300px;       
    }
    .formularios {
    font-family: $font-family-formulario;
    color: $color-letras-fomulario;
    text-align: center;    
    }    
}
.footer {
    margin-top: 100px;
    justify-content: center;
    text-align: center;
    color: $color-letras-footer;

    .footer-links-pt :hover{
    text-decoration: underline;
    }
    .footer-row {
    flex-wrap: wrap;    
    }
    .p-footer {
    font-size: x-small;
    color: $color-ultimasletras-footer;
    }
    .footer-links {
    justify-content: center;
    }
    .redes-sociales-footer {
    margin-right: 3px;
    margin-top: 5px;
    }
}


@media screen and (max-width: 768px) {

.top-page{
    justify-content: center;
}
.redes-sociales{
    display: none;
}
.logo{
    display: none;
}
.imagen-fondo{
    width: 100%;
}
.container-news-index{
    display: grid;
    grid-template-columns: 1fr   
}
.imagenes-photos-index{
    display: grid;
    grid-template-columns: 1fr;
    padding: 50px;
    column-gap: 10px;
    row-gap: 15px;
    justify-items: center;
}
.imagen-photos{ 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.imagen-biography{
    width: 100%;
}    
}

